.nav{
    grid-area: n;
    background-color: #8fc1cc ;
    text-align: center;
  }

.item a { 
    color: white;
    text-decoration: none;
    
}  

.item{
  padding: 7px;
}

/* .item a:hover { 
     -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}   */

.item a.activeLink{
  color: gold;
}


h2{
  color: white;
}