.nav{
    grid-area: n;
    background-color: burlywood;
    text-align: center;

  }

.item a { 
    color: white;
    text-decoration: none;
}  

/* .item a:hover { 
     -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}   */

.item a.activeLink{
  color: gold;
}