.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItems{
    padding: 10px;
    color: white;
}

.dialogsItems .active{
    color: gold;
}

.messages{  
    padding: 10px;
}

.messages .message{
    color: white;
}

.area{
    width: 400px;
    height: 40px;
    font-size: 14px;
    font-family: 'Lato',sans-serif;
    outline: none;
    resize: none;
    padding: 6px;
    overflow: auto;
    border-radius: 5px;
    margin-top: 50px;
}

.btn{
}